<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ml.littleapp.mapper.CraIpPoolMapper">
  <resultMap id="BaseResultMap" type="ml.littleapp.pojo.CraIpPool">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="src_paging_id" jdbcType="BIGINT" property="srcPagingId" />
    <result column="ip" jdbcType="INTEGER" property="ip" />
    <result column="port" jdbcType="INTEGER" property="port" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="protocol" jdbcType="VARCHAR" property="protocol" />
    <result column="verify_date" jdbcType="VARCHAR" property="verifyDate" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
  </resultMap>
</mapper>