<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ml.littleapp.mapper.LoggingEventExceptionMapper">
  <resultMap id="BaseResultMap" type="ml.littleapp.pojo.LoggingEventException">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="event_id" jdbcType="BIGINT" property="eventId" />
    <id column="i" jdbcType="SMALLINT" property="i" />
    <result column="trace_line" jdbcType="VARCHAR" property="traceLine" />
  </resultMap>
</mapper>