<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ml.littleapp.mapper.SysRoleMapper">
  <resultMap id="BaseResultMap" type="ml.littleapp.pojo.SysRole">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="office_id" jdbcType="VARCHAR" property="officeId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="enname" jdbcType="VARCHAR" property="enname" />
    <result column="role_type" jdbcType="VARCHAR" property="roleType" />
    <result column="data_scope" jdbcType="CHAR" property="dataScope" />
    <result column="is_sys" jdbcType="VARCHAR" property="isSys" />
    <result column="useable" jdbcType="VARCHAR" property="useable" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
  </resultMap>
</mapper>