<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<contextName>logback</contextName>

	<property name="PATTERN"
		value="%-12(%d{yyyy-MM-dd HH:mm:ss.SSS}) |-%-5level [%thread] %c [%L] -| %msg%n" />

	<springProfile name="dev">
		<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
			<encoder>
				<pattern>${PATTERN}</pattern>
			</encoder>
		</appender>

		<root level="INFO">
			<appender-ref ref="CONSOLE" />
		</root>

		<!--日志异步到数据库 -->
		<appender name="DB" class="ch.qos.logback.classic.db.DBAppender">
			<!--日志异步到数据库 -->
			<connectionSource
				class="ch.qos.logback.core.db.DriverManagerConnectionSource">
				<driverClass>com.mysql.jdbc.Driver</driverClass>
				<url>jdbc:mysql://localhost:3307/test?useSSL=false</url>
				<user>root</user>
				<password></password>
			</connectionSource>
		</appender>

		<root level="INFO">
			<appender-ref ref="DB" />
		</root>
	</springProfile>

	<springProfile name="prod">
		<appender name="FILE"
			class="ch.qos.logback.core.rolling.RollingFileAppender">
			<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<!-- 文件名称 -->
				<fileNamePattern>logs/info.%d{yyyy-MM-dd}.log
				</fileNamePattern>
				<!-- 文件最大保存历史数量 -->
				<MaxHistory>100</MaxHistory>
			</rollingPolicy>

			<layout class="ch.qos.logback.classic.PatternLayout">
				<pattern>${PATTERN}</pattern>
			</layout>
		</appender>

		<root level="INFO">
			<appender-ref ref="FILE" />
		</root>
	</springProfile>


</configuration>